*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    width: 100%;
   background-color: white;
   cursor: grab;
   overflow-x: hidden;
  }
  
  .main1{
     width: 100%;
      height: 100vh;
    background-color: rgb(215, 215, 215);
   background: url(https://images.unsplash.com/photo-1484659619207-9165d119dafe?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
   background-size: cover;
   z-index: 10;
   position: relative;
  }
  .main1::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.396);
      z-index: -10;
  }
  
  .nav{
      background-color: rgba(255, 255, 255, 0.755);
      display: flex;
      justify-content: space-between;
      padding: 1vw 2vw;
      /* border-radius: 2vw; */
      width: 100%;
      position: fixed;
      box-shadow: 5px 5px 20px ;
      align-items: center;
      backdrop-filter: blur(5px);
      transform: translateY(-100px);
  }
  
  .remaining{
      width: 100%;
      height: 93%;
      display: flex;
     flex-direction: column;
  }
  .left{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      /* justify-content: center;     */
  }
  
  .left h1{
      font-size: 3.2vw;
      padding: 1vw 3vw;
      padding-top: 5vw;
      font-weight: 600;
      color: white;
  }
  .left h2{
      font-size: 2vw;
      color:whitesmoke;
      font-weight: 200;
      padding: 0vw 3vw;
      padding-bottom: 2vw;
  }
  
  
  button:active{
      scale: 1.1;
  }
  #reserve{
      background-color: #2c5123ee;
   
      margin-left: 6%;
      padding: 0.5vw 2.5vw;
      border-radius: 10px;
      margin-right: 1vw;
      color: white;
      transition: all ease 0.5s;
  }
  #reserve:hover{
      background-color: #20381d;
  }
  #order{
      padding: 1vw 2.5vw;
      background-color: #00BFFF;
      border-radius: 10px;
      transition: all ease 0.5s;
  }
  #order:hover{
      background-color: #1E90FF;
  }

  
  .right{
      width: 50%;
      height: 100%;
      /* background-color: rgb(110, 91, 91); */
  }
  
  
  .nav h2{
      color: rgb(0, 0, 0);
      font-size: 1.1vw;
      font-weight: 600;
  }
  
  .nav img{
      width: 15vw;
      object-fit: cover;
  }
  
  .main2{
      width: 100%;
      height: 100vh;
    background-color: rgb(215,215,215);
    border-bottom: 1px solid black;
  }
  
  input[type = "checkbox"]{
      width: 1.5vw;
      height: 1.5vw;
     accent-color: green;
  }
  
  #search{
      padding: 1vw 1vw;
      border-radius: 10px;
      font-size: 1.2vw;
      background-color: rgba(231, 220, 220, 0.285);
  }
  
  .left2{
      background-color: white;
      color: rgb(80, 80, 80);
      padding: 2vw 2vw;
  }
  
  .card{
      width: 80%;
      height: 30%;
      background-color: rgba(255, 255, 255, 0.953);
      padding: 10px;
  }
  .left3{
    width: auto;
      overflow-y: auto;
  }
  .card img{
      border-radius: 5px;
      border: 1px solid gray;
  
  }
  #add{
      color: green;
      font-weight: 600;
      background-color: white;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 0.1vw 0.9vw;
      box-shadow: 2px 2px 2px green;
      transition: all ease 0.3s;
  }
  #add:active{
      scale: 1.1;
  }
  
  
  
  #createAccount{
      background-color: rgb(153, 106, 18);
      border-radius: 20px;
      padding: 1vw 2vw;
      font-size: 1.2vw;
      color: white;
      transition: all ease 0.5s;
      cursor: grab;
  }
  #createAccount:active{
      background-color: rgb(250, 218, 159);
      cursor: grabbing;
  }
  #sign-page{
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%,-50%);
  }
  .main1.blurred > *:not(#sign-page) {
      filter: blur(100px);
      pointer-events: none;
      transition: all ease 1s;
  }
  
  
  
  .menu{
      color: rgb(228, 169, 58);
      background-color: rgba(255, 255, 255, 0.918);
  }
  
  .main3{
      background-color: rgb(215, 215, 215);
      height: 50vh;
  }
  
  #cartDiv{
      display: flex;
      display:none;
      /* border-radius: 20px; */
      overflow: auto;
      border-radius: 0px;
  }
  .cartsection{
      min-height: 60%;
      overflow-y: auto;
  
  }
  
  .nav-disabled{
      pointer-events: none;
      opacity: 0.8;
  }
  
  .itemdiv{
      display: flex;
      justify-content: space-evenly;
      padding: 1vw;
      /* width: 100%; */
  }
  
  .details{
      display: flex;
      width: 100%;
      /* background-color: crimson; */
      justify-content: space-between;
      border-bottom: 2px solid black;
  }
  .nameDiv{
      font-size: 1.2vw;
      font-weight: 600;
      /* background-color: red; */
  }
  .priceDiv{
      font-size: 1vw;
      /* background-color: yellow; */
  }
  .menu{
      transition: all ease 0.2s;
  }
  .menu:hover{
  background-color: white;
  }
  #cutBtn:hover{
  background-color: rgb(249,249,249);
  border-radius: 5px;
  }
  .about-section {
      width: 100%;
      height: 60vh;
      display: flex;
      background-color: rgba(1, 0, 0, 0.866);
  }
  #gif{
    /* background-color: red; */
    width: 35vw;
  }
  .left-footer{
      width: 50%;
      padding: 0vw 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
  }
  .right-footer{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .left-footer h1 {
      color: white;
      font-size: 2vw;
      display: flex;
      justify-content: center;
      padding-bottom: 5%;
      font-family: roboto;
  }
  .left-footer p{
      color: #fff;
      font-size: 1vw;
  }
  .left-footer h2{
      color: gray;
      font-size: 1.4vw;
      font-weight: 400;
      padding-top: 3vh;
      cursor: pointer;
  }
  .address {
      margin-top: 15px;
      font-style: italic;
      color: #666;
  }
  .right-footer img{
      object-fit: cover;
  }
  
  #addReview{
      background-color: rgb(237, 203, 210);
      width: 50%;
      height: 90%;
      border-radius: 10px;
  }
  .reserveLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quantityDiv{
      width: 4vw;
      height: 3.9vh;
      margin-bottom: 0.2vh;
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .minusBtn{
      font-size: 2vw;
      color: red;
      padding-right: 0.3vw;
  }
  .plusBtn{
      padding-left: 0.3vw;
      font-size: 1.3vw;
      color: green;
      font-weight: 600;
  }
  
  .totalAmtDiv{
      display: flex;
      align-items: center;
      padding: 1vw;
     border: 1px solid black;
     justify-content: space-between;
     background-color: rgb(235, 235, 235);
     
  }
  .dv1{
      font-size: 1.5vw;
      font-weight: 500;
  }
  .dv2{
      font-size: 1.5vw;
      font-weight: 500;
  }

  .right3{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.rem{
    width: 100%;
    display: flex;
    height: 82%;
}


     @media (max-width: 768px) {
      body{
          overflow-x: hidden;
          width: 100%;
          border: none;
      }
      .nav{
          display: flex;
          flex-direction: column;
           position: sticky;
      }
      .nav img{
          width: 100%;
      }
      .nav h2{
          padding-top: 2vh;
          font-size: 2.5vw;
      }
  
      .left{
          margin-top: 20vh;
          width: 100%;
          text-align: center;
      }
      .left h1{
          font-size: 7vw;
      }
      .left h2{
          font-size: 5vw;
      }
      .temp{
          display: flex;
      }
      #reserve{
          margin-top: 13%;
          margin-left: 13%;
      }
      #order{
          margin-top: 13%;
      }
      .saa{
          font-size: 5vw;
      }
      .menu{
       display: none;
      }
      #cartDiv{
          width: 100%;
          margin-left: -1%;
          scale: 0.8;
      }
      #cartDiv img{
          width: 75%;
          margin-left: 3%;
      }
      #closeCart{
          width: 20%;
          scale: 1.8;
      }
      .main2{
          display: flex;
          flex-direction: column;
      }
      .left2{
          display: none;}
      
      .right2{
          width: auto !important;
      }
      .upper{
          display: flex;
          flex-direction: column;
          margin-bottom: 20vh;
          width: auto;
          height: auto;
          border: none !important;
      }
      .san2{
          border-top: 1px solid black;
          width: 100%;
          
      }
      .san2 h1{
          padding-top: 2vh;
          font-size: 7vw;
          text-align: center;
      }
      #san3{
          text-align: start;
          font-size: 2.8vw;
      }
      .san4 h1{
          font-size: 3vw;
          padding-bottom: 2vh;
      }
      input[type = "checkbox"]{
          width: 5vw;
          height: 5vw;
         accent-color: green;
      }
      #search{
          width: 100%;
          padding: 2vw 15vw;
          font-size: 4vw;
      }
     .main2{
        width: auto;
        height: auto;
      background-color: #fff;
     }
     .rem{
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto; 
     }
     .left3{
      border-top: 1px solid black;
      width: auto !important;
      height: 100vh;
      /* background-color: red; */
     }
     .card{
      width: auto;
      height: auto;
      background-color: rgb(236, 236, 236);
      gap: 4vw;
     }
     .card .itemName{
      font-size: 4vw;
     }
     .card .itemPrice{
      font-size: 3.2vw;
      padding-top: 1vh;
      color: black;
     }
     .card .itemDescription{
      font-size: 2.8vw;
      padding-top: 1vh;
      color: rgba(0, 0, 0, 0.499);
     }
     .addBtn{
      padding: 1vw 4vw !important;
     }
    .about-section{
      margin-top: 35vh;
    }
    .right3 h1{
      font-size: 5vw;
      margin-top: 2vh;
    } 
    .right3{
      display: none;
    }
  
    .about-section{
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
    }
    .right-footer{
      width: 100%;
    }
    .left-footer{
      width: 100%;
    }
    .left-footer h1{
      font-size: 5vw;
      padding-top: 3vh;
    }
    .left-footer p{
      font-size: 3vw;
      color: gray;
      padding-bottom: 3vh;
    }
    .left-footer h2{
      font-size: 5vw;
      padding-top: 4vh;
      padding-bottom: 6vh;
      text-align: center;
      border-top: 1px solid white;
    }
    #sign-page{
      width: auto;
      height: auto;
      padding: 3vw;
    }
    .san5{
      font-size: 6vw;
      gap: 4vw;
      padding: 5vw;
      white-space: nowrap;
      display: flex;
    }
  
    #sign-page input{
      width: auto;
      padding: 4vw 3vw;
      display: flex;
      flex-direction: column;
    }
    #createAccount{
      padding: 2vw 5vw;
      font-size: 4vw;
    }
    .nameDiv{
        font-size: 4vw;
    }
    .priceDiv{
        padding-right: 2vw;
        font-size: 3vw;
    }
    .quantityDiv{
        width: 17%;
    }
    .minusBtn{
        font-size: 12vw;
        padding-right: 2vw;
        font-weight: 200;
    }

    .plusBtn{
        font-size: 7vw;
        padding-left: 2vw;
        font-weight: 300;
    }
    .totalAmtDiv{
        background-color: lightsteelblue;
        height: auto;
        padding: 3vw;

    }
    .dv1,.dv2{
        font-size: 4vw
    }

  } 


  #cur{
    background-color: rgb(249,249,249);
    border-radius: 5px;
    border: 1px solid #a4a4a4;
    padding: 0.2vw 1vw;
    transition: all ease 0.3s;
    font-weight: 600;
    font-family: monospace;
    font-size: 1.3vw;
  }
  .currentDiv{
    font-weight: 400;
    color: #20381d;
  }
  #cur:hover{
    background-color: rgb(235, 235, 235);
  }

   .blurreddd{
    z-index: -1;
    filter: blur(10px);
  }

  #payBtn{
    padding-left: 0.5vw;
    font-weight: 400;
    font-size: 1vw;
    cursor: pointer;
    transition: all ease 0.2s;
   
  }
  #payBtn:hover{
    color: green;
  }

  #cartBtn{
    color: green;
    font-weight: 700;
  }